$font-primary: #000000;
$background: #fbfffe;
$color-btn-p: #0e3729;
$text-secondary: #686c75;

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  color: $color-btn-p;
}

.title {
  font-family: Nunito;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: black;
}

.subtitle {
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.principalText {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.secondaryText {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: $text-secondary;
}

.tertiaryText {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: $text-secondary;
}

.container {
  margin: 0px 16px;
}
